<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Diaspora in Action</title>
<span>Diasporas in Action</span>
<h1>Working together for peace, development</h1>
<h1>and humanitarian response</h1>

<h1>29 - 30 September 2016</h1>
<h2>University of Melbourne</h2>
</head>


<body>


<p>Contact:</p>
<p>conference@diasporaaction.org.au</p>
<p>+61 3 8934 3918</p>
<p>+61 425 309 215</p>
<h1>About the conference</h1>

<p>Diaspora Action Australia and the University of Melbourne's Refugee</p>
<p>Studies Program invite you to a two-day international forum on the role of</p>
<p>diaspora communities in global peace, development and humanitarian relief.</p>


<p>Australian and international speakers will explore the unique</p> 
<p>and growing contribution of diasporas, which are increasingly recognised</p>
<p>as the innovators of the humanitarian, peace building and aid sector.</p>


<p>A full program of national and international speakers</p>
<p>will be released over the coming months.</p>


<h1>Sponsorship packages</h1>

<section id="d_sponsorship">
  <div class="d_sponsor_table">
  <table style="width:60%">
    <tr>
      <td>BENEFITS</td>
      <td>GOLD 	&gt;$5000</td>
      <td>SILVER &gt;$2500</td>
      <td>BRONZE &gt;$1000</td>
    </tr>
    <tr>
      <td>Logo on conference program and website with link to your website(ackowledged as Gold,Silver and Bronze)</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Branding recognition on Conference Powerpoint Holding Slide for all sessions</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Banner display at Conference venue</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Opportunity to place a 1/2 page B&W advertisement in the program</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Submit 1 A4 page or one small brochure to conference folder to be shared with al registered participants</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Display table for marketing materials and reports</td>
      <td>Full Table</td>
      <td>1/2 Table</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Complimentary conference registration</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>

    <tr>
      <td>Mentioned in media releases</td>
      <td>80</td>
      <td>80</td>
      <td>1</td>
    </tr>
  </table>
</div>
<p>If you are interested in sponsoring this conference</p>
<a href="">contact conference@diasporaaction.org.au</a>
  </section>
  <h1>Partners</h1>
  <h2>in conjunction with</h2>

</body>
</html>
